:root {
  --primary: #614e44;
  --secondary: #40352e;
  --contrast: #e4dfdc;
  --accent: #577419;

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --content-width: 1100px;

  font-size: 1.125rem;
  font-family: var(--font-family);
  color: var(--contrast);
  background-color: var(--secondary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

#page-container button {
  color: white;
  background-color: #04aa6d;
  border: 1px solid #04aa6d;
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 5px;
  padding: 4px 8px;
}

#page-container input:focus,
#page-container select:focus {
  outline-color: var(--accent);
}

#page-container input[type="radio"] {
  accent-color: var(--accent);
}

#page-container button:active {
  background-color: white;
  color: #04aa6d;
}

#intro {
  background-color: var(--primary);
  /* color: var(--contrast); */
}

#intro .container {
  display: flex;
  justify-content: space-between;
}

#catalogue {
  flex: auto;
}

#intro,
#content {
  padding: 24px;
}

#bookshelf form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#bookshelf,
#catalogue {
  display: none;
}

#bookshelf.look-at-bookshelf,
#catalogue.look-at-catalogue {
  display: block;
}

#bookshelf div {
  width: 265px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

#catalogue h2 {
  margin-bottom: 24px;
}

#book-list {
  border-collapse: collapse;
  width: 100%;
}

#book-list {
  border: 1px solid var(--contrast);
}

#book-list td,
#book-list th {
  padding: 8px;
}

#book-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--accent);
}

#book-list tr:nth-child(even) {
  background-color: var(--primary);
}

#table-records tr:hover {
  background-color: var(--contrast);
  color: var(--secondary);
}
